{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
    <div class="container">
        <div class="mr-auto "style="
            margin-top : 100px;
            font-family: Roboto;
            font-style: normal;
            font-size: 3em;
            color: #8D6011;">
            <div class="row mr-auto" >
                <div class="col">
                    <p class="font-weight-bolder">Review</p>
                </div>
            </div>
            <div class="row mr-auto">
                <div class="col">
                    <p class="font-weight-lighter">this product</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="jumbotron" style="background-color: #4A5E26;
            display: flex;
            flex-direction: column;
            width: 65vw;">
                    <form action='' method ="POST">
                            {% csrf_token %}
                            <div class="row mr-auto">
                                <div class="col">
                                    <label style="font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 24px;
                                    line-height: 28px;
                                    
                                    color: #F4F5F0;">Name:</label>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.namaReview|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mr-auto">
                                <div class="col">
                                    <label style="font-family: Roboto;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 24px;
                                    line-height: 28px;
                                    
                                    color: #F4F5F0;">Suggestion:</label>
                                </div>
                                <div class="col">
                                    <div class="form-group input-md">
                                        {{ form.isiReview|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            
                            
                            <br>
                            <input type="submit" name="submit" value="Submit" class="btn" style="background: #FADC44;">
                        
                        </form>
                
            </div>


                        

        </div>
        
    </div>
{% endblock content %}