{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row mr-auto" style="
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    color: #8D6011;">
        <div class="col-sm">
            <h1 style="font-weight: bold;
            font-size: 3em;">Review</h1>
        </div>
        <div class="col">
            <h1 style="font-size: 3em; margin-bottom: 40px;">about</h1>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron" style="background-color: #4A5E26;;">
            <div class="row no-gutters">
                <div class="col-md-4">
                <img src="..." class="image" alt="WORK IN PROGRESS">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-white">
                        <h5 class="title" style="font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1em;
                        ">{{ produk }}</h5>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if reviews %}
        {% for s in reviews %}
            <div class="row mr-auto ">
                <h1 style="
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                
                color: #8D6011;
                
                ">{{ s.namaReview }}</h1>
            </div>
            <div class="row mr-auto">
                <h1 style="
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                
                color: #000000;">{{ s.isiReview }}</h1>
            </div>
        {% endfor %}
    {% else %}
        <div class="row mr-auto">
            <h1 style = "font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 1em;
            
            color: #8D6011;">Be the first to review this product!</h1>
        </div>
    {% endif %}
            <div class="row mr-auto">
                <a href="{% url 'reviewPage:addReview' produk %}" style="font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 1em;
                
                color: #000000;">
                    add review
                </a>
            </div>
    
    
</div>


{% endblock content %}