{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- skin category -->
    <div id="skinCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your skin type?</p>
                            <h3>Normal</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- skin products recommendation -->
        <div id="faceCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Normal Skin Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="NormalSkin" src="https://files.catbox.moe/hzvwgv.png" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">NATURE-E</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Daily Nourishing Lotion</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        NATUR-E Hand and Body Lotion adalah body lotion yang terbuat dari vitamin E yang 
                                        kaya akan nutrisi dapat membuat kulit Anda menjadi lebih lembut dan lembab. </p></br>
                            </div>
                          </div>
                          <div class="row">
                            <a href = "{% url 'reviewPage:productReview' 'NATURE-E' %}" class="link">Review</a>
                        </div>
                          <div class="row">
                              <a href="https://shopee.co.id/Natur-E-Daily-Nourishing-Nourishing-Hand-Body-Lotion-i.51389313.915462332" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="NormalSkin" src="https://files.catbox.moe/lznoru.png" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">NIVEA</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Essentially Enriched</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Lotion tubuh yang diperkaya dengan mineral laut alami dan minyak almond. Teknologi pelembab Nivea yang unik mendukung jaringan hidrasi
                                         kulit sendiri untuk melepaskan kelembaban yang dalam dan tanpa henti yang tahan lebih dari 24 jam.</p></br>
                                </div>
                            </div>
                            <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'NIVEA' %}" class="link">Review</a>
                            </div>
                            <div class="row">
                                <a href = "https://id.iherb.com/pr/Nivea-Body-Lotion-Essentially-Enriched-Almond-Oil-2-5-fl-oz-75-ml/59460?gclid=Cj0KCQjw0IDtBRC6ARIsAIA5gWvT-l3OBFRAIb3_wC4T0y7hcecHcNaynz7rZUkLwgkTUhJIqfLaTjkaAsB2EALw_wcB&gclsrc=aw.ds" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}